package components

templ Introduction() {
@layout("Introduction") {
<div>
    <div class="slide">
        <h2>Please Set Your Currency</h2>
        <form>
            <select>
                <option value="GBP">£ GBP</option>
                <option value="USD">$ USD</option>
            </select>
        </form>
    </div>
</div>
}
}
