@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    color: #111111;
    overflow-x: hidden;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Inter", sans-serif;
}

html,
body {
    padding-bottom: 5rem;
}

a {
    color: #5899D9;
    transition: 0.3s ease-in-out;
}

a:hover {
    color: #3897D3;
}

.item-wrap>div {
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stats {
    padding: 0.9rem;
    display: flex;
    justify-content: space-between;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

th {
    padding: 0.2rem;
    background-color: #20E5A4;
    font-size: 1.5rem;
}

th, td {
  border-right: 1px solid black;
  padding: 10px;
}

th:last-child, td:last-child {
  border-right: none;
}
