{{define "item"}}

<style>
</style>
<div class="item-wrap" id="items">
    {{range .Items}}
    <div class="item" data-id="{{.ID}}" onclick="toggleOptions('{{.ID}}')">
        <h3>{{.Name}}</h3>
        <div class="percentage-line" data-price="{{.Price}}" data-saved="{{.Saved}}">
            <div class="percentage-fill"></div>
        </div>

        <div class="price">
            <p>£{{formatFloat .Saved}}</p>
            <p>{{formatRecurring .Recurring}}</p>
            <p>£{{formatFloat .Price}}</p>
        </div>

        <div class="item-options" id="options{{.ID}}">
            <button onclick="toggleOptions('{{.ID}}')" style="border: 1px solid red;">X</button>


            <div class="item-options-form">
                <form>
                    <input type="text" name="name" value="{{.Name}}" />
                </form>

                <form name="updateAllocate{{.ID}}">
                    <input type="text" id="newAllocate{{.ID}}" placeholder="Enter Ammount: " />
                </form>
            </div>
        </div>
    </div>
    {{end}}

    <script>
        /**
        * @param {string} id
        */
        function toggleOptions(id) {
            const options = document.getElementById(`options${id}`);
            if (window.getComputedStyle(options).display == "none") {
                options.style.display = "flex"
            } else {
                options.style.display = "none"
            }
        }
    </script>
</div>

{{end}}
