{{ define "item" }}
<style>
    .item {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        background-color: #F1F1F1;
        border-radius: 5px;
        width: 97%;
    }

    .item>p {
        padding-left: 0.5rem;
    }

    .percentage-line {
        width: 100%;
        height: 0.937rem;
        background: #f1f1f1;
        position: relative;
        margin: 10px 0;
        overflow: hidden;
    }

    .percentage-fill {
        height: 100%;
        background: #20E5A4;
        width: 0;
        transition: width 0.3s ease;
    }

    .price {
        display: flex;
        justify-content: space-between;
    }
</style>
<div class="item-wrap">
    {{ range .Items }}
    <div class="item">
        <h3>{{ .Name }}</h3>
        <div class="percentage-line" data-price="{{.Price}}" data-saved="{{.Saved}}">
            <div class="percentage-fill"></div>
        </div>
        <div class="price">
            <p>£{{ formatFloat .Saved }}</p>
            <p>{{ formatRecurring .Recurring }}</p>
            <p>£{{ formatFloat .Price }}</p>
        </div>

        <div>
            <form name="updateAllocate{{.ID}}">
                <input type="text" id="newAllocate{{.ID}}" />
            </form>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}
