{{define "new-transaction"}}

<form hx-post="/api/transaction/new" hx-swap="innerHTML" id="new-transaction" hx-ext="json-enc">
    <input list="payee" name="payee" />
    <datalist id="payee">
        {{range .Payees}}
        <option value="{{.}}">{{.}}</option>
        {{end}}
    </datalist>

    <select name="item_id">
        {{ range .Items}}
        <option value="{{.ID}}">{{.Name}}</option>
        {{end}}
    </select>

    <input name="purchase_date" type="date" />
    <input name="outflow" type="number" placeholder="Outflow" />
    <input name="inflow" type="number" placeholder="inflow" />
    <input type="submit" value="New Transaction" />
</form>

{{end}}
